<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">MDMVC</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Links</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
        </ul>
        {% if (logado != true) %}
        <form class="form-inline mt-2 mt-md-0" action="/login/logar" method="POST">
          <input class="form-control mr-sm-2" type="text" name="usuario" placeholder="Usuário" aria-label="Usuário">
          <input class="form-control mr-sm-2" type="password" name="senha" placeholder="Password" aria-label="Password">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logar</button>
        </form>
        {% else %}
          <span class="navbar-brand">Bem vindo, {{session['nome']}}</span>
          <a class="btn btn-outline-success my-2 my-sm-0" >Perfil</a>
          <a class="btn btn-outline-success my-2 my-sm-0" href="/login/logof">Sair</a>
        </form>
        {% endif %}
      </div>
    </nav>
</header>